<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es">

<head>
	<meta charset="utf-8">
	<title>Podiatry</title>
	<style>
		.avatar {
			vertical-align: middle;
			width: 35px;
			height: 35px;
			border-radius: 50%;
		}

		.bg-default,
		.btn-default {
			background-color: #f2f3f8;
		}

		.btn-error {
			color: #ef5f5f;
		}
	</style>
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/img/foot_header.png}">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/logos/squanchy.jpg}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/logos/squanchy.jpg}">
	<!-- jQuery -->
	<!-- Bootstrap4 files-->
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/ui.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/OverlayScrollbars.css}" type="text/css" rel="stylesheet" />



</head>

<body>
	<section class="header-main">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-3">
					<div class="brand-wrap" style="padding-left: 25%">
						<img class="logo" th:src="@{/img/logo.jpeg}" width="100%">
						<!-- h2 class="logo-text">Bienvenido a Podiatry</h2-->
					</div>
					<!-- brand-wrap.// -->
				</div>
				<div class="col-lg-6 col-sm-6">
					<form action="#" class="search-wrap">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Buscar" onkeyup="itemTyped(this)">
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit">
									<img th:src="@{/img/search.png}" height="25" />
								</button>
							</div>
						</div>
					</form>
					<!-- search-wrap .end// -->
				</div>
				<!-- col.// -->
				<div class="col-lg-3 col-sm-6">
					<div class="widgets-wrap d-flex justify-content-end">
						<div class="widget-header">
							<a href="#" class="icontext"> <a href="#"
									class="btn btn-primary m-btn m-btn--icon m-btn--icon-only">
									<img th:src="@{/img/home.png}" height="25" />
								</a>
							</a>
						</div>
						<!-- widget .// -->
						
						<div class="widget-header dropdown">
							<a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10"> <img
									th:if="${!session.isEmpty()}" sec:authorize="hasAuthority('ADMIN')" th:src="@{/img/root.png}" class="avatar"
									alt="" th:text="${user_name}">
								<img
										th:if="${!session.isEmpty()}" sec:authorize="hasAuthority('USER')" th:src="@{/img/common.png}" class="avatar"
										alt="" th:text="${user_name}">
								<img th:if="${session.isEmpty()}" th:src="@{/img/user.png}" class="avatar" alt="">
							</a> <span style="color: blue;"> </span>
							<div class="dropdown-menu dropdown-menu-right">
								<a th:href="@{/citas}" class="dropdown-item">Agendar cita</a>
								<div sec:authorize="hasAuthority('ADMIN')">
									<a th:href="@{/dates}" class="dropdown-item">Ver citas</a>
								</div>
								<div sec:authorize="hasAuthority('ADMIN')">
									<a th:href="@{/product}" class="dropdown-item">Agregar productos</a>
								</div>
								<div sec:authorize="hasAuthority('ADMIN')">
									<a th:href="@{/purchases}" class="dropdown-item">Ver compras</a>
								</div>
								<form th:action="@{/close}" method="GET">
									<button type="submit" class="dropdown-item"><i class="fa fa-sign-out-alt"></i>
										Cerrar sesión</button>
								</form>
							</div>
							<!--  dropdown-menu .// -->
						</div>
						<!-- widget  dropdown.// -->
					</div>
					<!-- widgets-wrap.// -->
				</div>
				<!-- col.// -->
			</div>
			<!-- row.// -->
		</div>
		<!-- container.// -->
	</section>
	<!-- ========================= SECTION CONTENT ========================= -->
	<section class="section-content padding-y-sm bg-default ">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 card padding-y-sm card ">
					<ul class="nav bg radius nav-pills nav-fill mb-3 bg" role="tablist">
						<li class="nav-item"><a class="nav-link active show" data-toggle="pill" href="#nav-tab-card"> <i
									class="fa fa-tags"></i> Todos
							</a></li>
					</ul>
					<span id="items">
						<div class="row" id="row-item">
							<th:block th:each="product : ${allProducts}">
								<div class="col-md-3">
									<figure class="card card-product">
										<span class="badge-new"> NUEVO </span>
										<div class="img-wrap">
											<img th:id="img+${product.id_product}"
												th:src="@{'data:image/jpeg;base64,'+${product.img}}">
											<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Vista
												rápida</a>
										</div>
										<figcaption class="info-wrap">
											<a href="#" class="title" th:id="name+${product.id_product}"
												th:text="${product.name}"></a>
											<div class="action-wrap">
												<button th:disabled="${session.isEmpty()}"
													class="btn btn-primary btn-sm float-right"
													th:id="${product.id_product}" onclick="addCar(this)"> <img
														th:src="@{/img/car_of_sales.png}" height="15" /> Agregar
													<span th:text="'('+${product.total+')'}"></span>
												</button>
												<div class="price-wrap h5">$<span class="price-new"
														th:id="price+${product.id_product}"
														th:text="${product.price}"></span>
												</div>
												<!-- price-wrap.// -->
											</div>
											<!-- action-wrap -->
										</figcaption>
									</figure>
								</div>
							</th:block>
						</div> <!-- row.// -->
					</span>
				</div>
				<div class="col-md-4">
					<div class="card">
						<span id="cart">
							<table class="table table-hover shopping-cart-wrap">
								<thead class="text-muted">
									<tr>
										<th scope="col">Producto</th>
										<th scope="col" width="120">Cantidad</th>
										<th scope="col" width="120">Precio</th>
										<th scope="col" class="text-right" width="200">Accion</th>
									</tr>
								</thead>
								<tbody id="car_sales">

								</tbody>
							</table>
						</span>
					</div>
					<!-- card.// -->
					<div class="box">
						<dl class="dlist-align">
							<dt>Impuesto:</dt>
							<dd class="text-right">16%</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Descuento:</dt>
							<dd class="text-right">
								<a href="#">0%</a>
							</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Sub Total:</dt>
							<dd class="text-right" id="subtotal">$0</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Total:</dt>
							<dd class="text-right h4 b" id="total">$0</dd>
						</dl>
						<div class="row">
							<div class="col-md-6" id="cancelSell" onclick="deleteSells()">
								<a href="#" class="btn  btn-default btn-error btn-lg btn-block"><img
										th:src="@{/img/cancel.png}" height="35" /> Cancelar </a>
							</div>
							<div class="col-md-6">
								<!-- form method="post" th:action="@{/buyItem}">
									<button type="submit" class="btn  btn-primary btn-lg btn-block">
										<img th:src="@{/img/buy.png}" height="35" /> Charge
									</button>
								</form-->

								<button th:disabled="${session.isEmpty()}" class="btn  btn-primary btn-lg btn-block"
									onclick="buyItem()"><img th:src="@{/img/buy.png}" height="35" /> Pagar </button>
							</div>
						</div>
					</div>
					<!-- box.// -->
				</div>
			</div>
		</div>
		<!-- container //  -->
	</section>
	<script th:src="@{/js/jquery-2.0.0.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/bootstrap_.bundle.min.js}" type="text/javascript"></script>
	<script th:src="@{js/OverlayScrollbars.js}" type="text/javascript"></script>
	<!--script th:src="@{/js/}" type="text/javascript"></script-->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script type="text/javascript">
		//global variable
		var id_user = "[[${user_id}]]";
		var clear_car_sales="[[${payment_success}]]";
		if(clear_car_sales == 'true'){
			localStorage.removeItem("products");
		}
		$.ajax({
				method: "GET",
				url: "[[@{/carSales/}]]" + id_user
			}).done(function (data,textStatus, jqXHR) {
				if(jqXHR == 204){
					localStorage.removeItem("products")
				}else{
					var json_car_sales_user=data; 
				json_car_sales_user=mapJsonToLocalStorageJson(json_car_sales_user);
				localStorage.setItem("products",JSON.stringify(json_car_sales_user));
				showCarSales();
				}
			}).fail(function(error){
				swal("Lo sentimos","Hubo un error al intentar recuperar su información","error");
			});
		function showCarSales() {
			var mount = 0;
			var subtotal = document.querySelector("#subtotal")
			var total = document.querySelector("#total")
			var products = localStorage.getItem("products");
			products = JSON.parse(products)
			var tbody = document.querySelector("#car_sales");
			tbody.innerHTML = "";
			for (var key in products) {
				tbody.innerHTML += "<tr><td><figure class='media'><div class='img-wrap'><img src='" + products[key].img + "' class='img-thumbnail img-xs'></div><figcaption class='media-body'><h6 class='title text-truncate'>" + products[key].name + "</h6></figcaption></figure></td><td class='text-center'><div class='m-btn-group m-btn-group--pill btn-group mr-2' role='group' aria-label='...'> <button type='button' class='m-btn btn btn-default'> <img id='less' src='img/less.png' height='15' onclick='less(this)'/></i></button><button type='button' class='m-btn btn btn-default' >" + products[key].total + "</button><button type='button' class='m-btn btn btn-default'><img id='plus' src='img/plus.png' height='15' onclick='plus(this)'/></i></button></div></td><td><div class='price-wrap'><var class='price'>$" + products[key].price + "</var></div> </td><td class='text-right'><div href='#' class='btn btn-outline-danger'> <img src='img/trash.png' height='15' onclick='deleteItem(this)' /></div></td> </tr>"
				mount += parseFloat(products[key].price) * products[key].total
			}
			subtotal.textContent = "$" + mount
			total.textContent = "$" + mount
		}
		function mapJsonToLocalStorageJson(json_car_sales_user){
			let newJson=[];
			json_car_sales_user.forEach(item=>{
				newJson.push({
					"id":item.product.id_product,
					"name":item.product.name,
					"price":item.product.price,
					"img":"data:image/jpeg;base64,"+item.product.img,
					"total":item.total
				});
			});
			return newJson;
		}
		function deleteItem(e) {

			var deleteItem_ = e;
			let name = e.parentNode.parentNode.parentNode.firstElementChild.firstElementChild.lastElementChild.firstElementChild.textContent
			console.log(name)
			let products_ = JSON.parse(localStorage.getItem("products"))
			var id_product = products_.filter(item=> item.name == name)[0].id;
			products_=products_.filter(item=> item.name != name)
			localStorage.setItem("products", JSON.stringify(products_))
			/*for (var key in products_) {
				if (products_[key].name == name) {
					id_product = products_[key].id;
					products_.pop(key)
					localStorage.setItem("products", JSON.stringify(products_))
					break;
				}
			}*/
			$.ajax({
				method: "GET",
				url: "[[@{/delete/}]]" + id_product + "/" + id_user
			}).done(function (msg) {
				//alert("Data Saved: " + msg);
			});
			showCarSales()
		}
		function less(e) {
			var less_ = e;
			//document.querySelector("#plus").parentNode.parentNode return div that contains less icon, total of items, plus icon
			//document.querySelector("#plus").parentNode.parentNode.childNodes return all divs that contains an array like this 
			/*
			NodeList(4) [text, button.m-btn.btn.btn-default, button.m-btn.btn.btn-default, button.m-btn.btn.btn-default]
			0: text
			1: button.m-btn.btn.btn-default
			2: button.m-btn.btn.btn-default
			3: button.m-btn.btn.btn-default
			*/
			if (parseInt(e.parentNode.parentNode.childNodes[2].innerHTML) > 1) {
				var newTotal = parseInt(e.parentNode.parentNode.childNodes[2].innerHTML) - 1
				var nodes = e.parentNode.parentNode.childNodes[2].innerHTML = newTotal
				var name = e.parentNode.parentNode.parentNode.parentNode.firstElementChild.lastElementChild.lastElementChild.firstElementChild.textContent;
				var products_ = JSON.parse(localStorage.getItem("products"));
				for (var key in products_) {
					console.log(products_[key].name, name)
					if (products_[key].name == name) {
						id_product = products_[key].id;
						products_[key].total = newTotal
						localStorage.setItem("products", JSON.stringify(products_))
						break;
					}
				}
				$.ajax({
					method: "GET",
					url: "[[@{/less/}]]" + id_product + "/" + id_user
				})
					.done(function (msg) {
					});
				showCarSales()
			}
			//document.querySelector("#plus").parentNode.parentNode.parentNode.parentNode return a table td
			//document.querySelector("#plus").parentNode.parentNode.parentNode.parentNode.firstElementChild return td elements
			//document.querySelector("#plus").parentNode.parentNode.parentNode.parentNode.firstElementChild.lastElementChild.lastElementChild.firstElementChild return a name´s item


		}

		function plus(e) {
			var plus_ = e;

			var newTotal = parseInt(e.parentNode.parentNode.childNodes[2].innerHTML) + 1
			var nodes = e.parentNode.parentNode.childNodes[2].innerHTML = newTotal

			var name = e.parentNode.parentNode.parentNode.parentNode.firstElementChild.lastElementChild.lastElementChild.firstElementChild.textContent;
			var products_ = JSON.parse(localStorage.getItem("products"));
			for (var key in products_) {
				console.log(products_[key].name, name)
				if (products_[key].name == name) {
					id_product = products_[key].id;
					products_[key].total = newTotal
					console.log(products_)
					localStorage.setItem("products", JSON.stringify(products_))
				}
			}
			$.ajax({
				method: "GET",
				url: "[[@{/plus/}]]" + id_product + "/" + id_user
			})
				.done(function (msg) {
				});
			showCarSales()
		}
		function addCar(e) {
			console.log(e)
			var products = localStorage.getItem("products");
			var flag = false;
			if (products != null) {
				products = JSON.parse(products)
				for (var key in products) {
					//console.log(products[key].id)
					if (products[key].id == e.id) {
						products[key].total += 1
						console.log(products)

						localStorage.setItem("products", JSON.stringify(products))
						flag = true
						$.ajax({
							method: "GET",
							url: "[[@{/plus/}]]" + e.id + "/" + id_user
						}).done(function (msg) {
							//alert("Data Saved: " + msg);
						});
					}
				}
				//if flag is false, then item isnt in json object
				if (!flag) {
					//var json = []
					var name = document.querySelector("#name" + e.id).textContent
					var src = document.querySelector("#img" + e.id).src
					var price = document.querySelector("#price" + e.id).textContent
					//var tbody = document.querySelector("#car_sales");
					var actual_product = {id: e.id, name: name, price: price, total: 1, img: src}
					$.ajax({
						method: "GET",
						url: "[[@{/add/}]]" + e.id + "/" + id_user
					}).done(function (msg) {
						//alert("Data Saved: " + msg);
					});
					products.push(actual_product)
					localStorage.setItem("products", JSON.stringify(products))
				}
			} else {
				console.log("firts time")
				var json = []
				var name = document.querySelector("#name" + e.id).textContent
				var src = document.querySelector("#img" + e.id).src
				var price = document.querySelector("#price" + e.id).textContent
				var actual_product = {id: e.id, name: name, price: price, total: 1, img: src}
				json.push(actual_product)
				$.ajax({
					method: "GET",
					url: "[[@{/add/}]]" + e.id + "/" + id_user
				}).done(function (msg) {
					//alert("Data Saved: " + msg);
				});
				localStorage.setItem("products", JSON.stringify(json))
			}

			showCarSales()
		}
		//<img th:src="@{/img/car_of_sales.png}" height="15"/>
		function deleteSells() {
			console.log("delete")
			localStorage.removeItem("products")
			location.reload(true)
		}
		function buyItem() {
			var products = JSON.parse(localStorage.getItem("products"))
			if (products != null && Object.keys(JSON.parse(localStorage.getItem("products"))).length > 0) {
				swal({
					  title: "¿Desea pagar sus productos?",
					  text: "Será enviado a la plataforma de pago",
					  icon: "warning",
					  buttons: true,
					  dangerMode: true,
					})
					.then((willDelete) => {
					  if (willDelete) {
					   //window.location.href="[[@{/buyItem/}]]"+id_user
					   window.location.href="[[@{/wizard/}]]"+id_user 
					  }
				});
			}else swal("Lo sentimos", "Debes tener productos para poder pagar!", "error");
		}
		function itemTyped(e) {
			var port = window.location.port;
			let xhr = new XMLHttpRequest();

			xhr.open('GET', 'http://localhost:' + port + '/getProduct?name=' + e.value);
			xhr.send();
			xhr.onload = function () {
				let responseObj = xhr.responseText;
				filterItem(JSON.parse(responseObj))
			};
		}
		function filterItem(products) {
			console.log(products)
			var row_item = document.querySelector("#row-item");
			row_item.innerHTML = "";
			for (var key in products) {
				row_item.innerHTML += "<div class='col-md-3'><figure class='card card-product'><span class='badge-new'> Nuevo </span><div class='img-wrap'><img src='data:image/jpeg;base64," + products[key].img + "'  id='img" + products[key].id_product + "'><a class='btn-overlay' href='#'><i class='fa fa-search-plus'></i> Vista rápida</a></div><figcaption class='info-wrap'><a href='#' class='title' id='name" + products[key].id_product + "'> " + products[key].name + "</a><div class='action-wrap'><a href='#' class='btn btn-primary btn-sm float-right' id='" + products[key].id_product + "' onclick='addCar(this)'> <img src='/img/car_of_sales.png' height='15' /> Agregar <span> (" + products[key].total + ")</span> </a> <div class='price-wrap h5'>$<span class='price-new' id='price" + products[key].id_product + "'> " + products[key].price + " </span></div></div></figcaption></figure></div>"
			}


		}
	</script>
	<script>
		$(function () {
			$("#items").height(552);
			$("#items").overlayScrollbars({
				overflowBehavior: {
					x: "hidden",
					y: "scroll"
				}
			});
			$("#cart").height(445);
			$("#cart").overlayScrollbars({});
		});
	</script>
</body>

</html>