<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Podiatry - Inicio de sesión</title>
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/img/foot_header.png}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<section class="myform-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="form-area login-form">
						<div class="form-content">
							<h2>Inicio de sesión</h2>
							<p>Ecommerce para productos podológicos.</p>
							<img th:src="@{/img/foot.png}" style="margin-left:32% ;width: 30%" alt="embedded folder icon">
							<ul>
								<li><a href="#" class="facebook"><img
									th:src="@{/img/facebook.png}" height="35" /><span> facebook</span></a></li>
								<li><a href="#" class="twitter"><img 
									th:src="@{/img/twitter.png}" height="35" /><span> twitter</span></a></li>
							</ul>
						</div>
						<div class="form-input">
							<h2>Datos de usuario</h2>
							<form method="post" action="#" th:action="@{/}" th:object="${user}">
								<!--div class="form-group">
									<input type="text" id="userName" name="username" required> <label>Nombre de usuario</label>
								</div>
								<div class="form-group">
									<input type="password" id="password" name="password" required>
									<label>Contraseña</label>
								</div-->
								<div class="form-group">
									<input type="texte"id="userName" name="username" required placeholder="Usuario">
								</div>
								<div class="form-group">
									<input type="password" id="exampleInputPassword1" name="password" required placeholder="Contraseña">
								</div>
								<div class="myform-button">
									<button class="myform-btn">Ingresar</button>
								</div>
								<h5 style="color: red; text-align: center;" th:if="${param.error}">Credenciales inválidas</h5>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>